h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}
h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto auto auto;
  width: 500px;
}
.join{
  width: 500px;
  height: 150px;
  background-color: blue;
  padding: 20px;
  text-align: left;
  margin-right: 0;
  color: red;
} 
.monthly{
  width: 250px;
  background-color: tomato;
  padding: 20px;
}
.whyus{
  width: 250px;
  background-color: violet;
  padding: 20px;
}
.cadre{
  display: flex;
  flex-direction: row;
}